@media print {
	.header, .footer, .nav, buttom, .add_buttom{
    	display: none !important;
   	}
    @page {
 	margin: 10mm 10mm 10mm 20mm;
	size: auto
   	}
   	*, *:before, *:after { 
 		color: #000;
 		box-shadow: none;
 		text-shadow: none;
 	}
 	html, body {
		font-size: 15px;
		margin: 0 !important;
		padding: 0 !important;
        height: auto !important;
        min-height: auto !important;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}

	/*Для страницы меню*/
	.soup_section, .main_dish, .drink{
		margin: 0 !important;	
		page-break-after: always;
		display: grid !important;
		grid-template-columns: 18cm !important;
		height: auto !important;
        min-height: 0 !important;
  		justify-content: center !important;
		.add_buttom{
    		display: none !important;
	   	}
	}
	.soup_block, .main_dish_block, .drink_block{
		height: 10cm !important;
        min-height: 0 !important;
        width: 100% !important;
		width: 10cm !important;
		border: 1px solid black !important;
		box-shadow:none !important;
        page-break-inside: avoid;
	}
	/*Для формы меню*/
	.form_menu{
		margin: auto !important;
		grid-template-columns: 8cm !important;
		height: 28cm !important;
		justify-content: center !important;
		border: 0 !important;
	}

	#form_buttoms{
		display: none;
	}
	::placeholder{
		visibility:hidden;
	}
	/*Для главной страницы*/
	.table{
		width: 18cm;
		margin: 0 !important;
	}

	.main-text{
	  margin: 0 !important;
	}

	.submit_but, #file_label, #file_input{
		display: none;
	}
	.form_feedback{
		box-shadow:none !important;
		height: 16cm !important;
        min-height: 0 !important;
	}

	.clearfix::after {
        display: none !important;
    }
    
    body::after {
        display: none !important;
        content: none !important;
        height: 0 !important;
        min-height: 0 !important;
    }

    figure, img, table {
        page-break-inside: avoid;
    }
    
    h1, h2, h3 {
        page-break-after: avoid;
    }
    
    * {
        max-height: none !important;
        height: auto !important;
    }
}