@media print {
	.header, .footer, .nav, buttom, .add_buttom{
    	display: none !important;
   	}
    @page {
 	 margin: 10mm 10mm 10mm 20mm;
   	}
   	*, *:before, *:after { 
 		color: #000;
 		box-shadow: none;
 		text-shadow: none;
 	}
 	html, body {
		font-size: 15px;
		margin: 0 !important;
	}
	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}

	/*Для страницы меню*/
	.soup_section, .main_dish, .drink{
		margin: 0 !important;
		page-break-after: always;
		display: grid;
		grid-template-columns: 18cm;
		height: 9cm;
  		justify-content: center;
		.add_buttom{
    		display: none !important;
	   	}
	}
	.soup_block, .main_dish_block, .drink_block{
		height: 11cm !important;
		width: 100% !important;
		border: 1px solid black !important;
		box-shadow:none !important;
	}
	/*Для формы меню*/
	.form_menu{
		margin: 0 -2cm !important;
		grid-template-columns: 8cm !important;
		height: 28cm !important;
		justify-content: center !important;
		border: 0 !important;
	}

	#form_buttoms{
		visibility: hidden;
	}
	::placeholder{
		visibility:hidden;
	}
	/*Для главной страницы*/
	.table{
		width: 18cm;
		margin: 0 !important;
	}

	.main-text{
	  margin: 0 !important;
	}

	.submit_but, #file_label, #file_input{
		display: none;
	}
	.form_feedback{
		box-shadow:none !important;
		height: 16cm !important;
	}
}