body{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
}

body::after{
  content: "";
  display: block;
  min-height: 76.8125px;
}
.header{
  position: sticky;
  background-color: #2a2f37;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 1px;
}

.header a, footer a{
  color:white;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;

}

.main-text{
  margin: 0 15%;
}

.main-menu{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
  margin: 0 15%;
  text-decoration: none;
}

.main-menu div{
  width: 200px;
}

.profile{
  margin: 0 200px;
  float: right;
  text-decoration: none;
}

.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
header div{
  display: inline;
}

.name{
    text-align: center;
}

.footer{ 
  background-color: #2a2f37;
  font-size: 1.2rem;
  line-height: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 76.8125px;
  color: white;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption{
  margin: 0 auto;
  text-align: center;
}

.table {
  margin: 0 15%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}
h2{
  margin: 10px 15%;
}

@media (max-width: 800px){
  h1{
    font-size: 40px;
  }
  .main-text{
    width: 90%;
    text-align: justify;
    margin: 0 5%;
  }
  .main-text, figcaption, h2{
    font-size: 20px;
  }
  .nav{
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
}
@media (max-width: 600px){
  .main-text{
    width: 90%;
    text-align: justify;
    margin: 0 5%;
  }
  h1{
    text-align: center;
  }
  .main-text, figcaption, h2{
    font-size: 35px;
  }
  .main-menu{
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    a{
      font-size: 20px;
    }
  }
  img {
    width: 100%;
  }
  .table{
    font-size: 20px;
    width: 95;
    margin: 0 5%;
  }
  h2{
    margin: 5px 5%;
  }
}

@media (max-width: 400px){
  .main-text, figcaption, h2{
    font-size: 40px;
  }
  img {
    width: 100%;
  }
  .table{
    font-size: 25px;
    width: 90%;
    margin: 0 5%;
  }
  h2{
    margin: 0 5%;
  }
}