body{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
}

body::after{
  content: "";
  display: block;
  min-height: 76.8125px;
}
.header{
  position: sticky;
  background-color: silver;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 1px;
}

.header a, footer a{
  color:black;
  cursor: pointer;
  text-decoration: none;
  margin: 0;
  padding: 0;

}

.main-text{
  margin: 0 200px;
}

.main-menu{
  margin: 0 200px;
  float: left;
  text-decoration: none;
}

.profile{
  margin: 0 200px;
  float: right;
  text-decoration: none;
}

.clearfix::after{
  display: block;
  clear: both;
  content: "";
}
header div{
  display: inline;
}

.name{
    text-align: center;
}

.footer{ 
  background-color: silver;
  font-size: 1.2rem;
  line-height: 2;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 76.8125px;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption{
  margin: 0 auto;
  text-align: center;
}

.table {
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}


